<div class="container-fluid p-0">
    <div class="menu-container">
        <div class="row g-0">

            <!-- Frappuchino -->
            <div class="col-12">
                <div class="frappe-item frappe-1">
                    <div class="content-wrapper">
                        <h2 class="frappe-title">FRAPPUCHINO</h2>
                        <p class="frappe-description">
                            Café instantáneo, hielo, leche, azúcar, esencia de vainilla y chantillí.
                        </p>

                        <div class="price-cart">
                            <div class="frappe-price">S/. 8</div>
                            <button class="cart-button">
                                <i class="bi bi-cart-fill"></i>
                            </button>
                        </div>
                    </div>

                    <img src="frapee-marron.png" 
                         alt="Frappuchino" class="frappe-image">
                </div>
            </div>

            <!-- Frappé de Fresa -->
            <div class="col-12">
                <div class="frappe-item frappe-2">
                    <div class="content-wrapper">
                        <h2 class="frappe-title">FRAPPÉ DE FRESA</h2>
                        <p class="frappe-description">
                            Hielo, leche, leche condensada, pulpa de fresa, azúcar y chantillí.
                        </p>

                        <div class="price-cart">
                            <div class="frappe-price">S/. 9</div>
                            <button class="cart-button">
                                <i class="bi bi-cart-fill"></i>
                            </button>
                        </div>
                    </div>

                    <img src="frappe-fresa.png" 
                         alt="Frappé de Fresa" class="frappe-image">
                </div>
            </div>

            <!-- VINILLA-->
            <div class="col-12">
                <div class="frappe-item frappe-3">
                    <div class="content-wrapper">
                        <h2 class="frappe-title">FRAPPÉ DE VAINILLA</h2>
                        <p class="frappe-description">
                            Hielo, leche, esencia de vainilla, azúcar y chantillí.
                        </p>

                        <div class="price-cart">
                            <div class="frappe-price">S/. 10</div>
                            <button class="cart-button">
                                <i class="bi bi-cart-fill"></i>
                            </button>
                        </div>
                    </div>

                    <img src="frappe-vainilla.png" 
                         alt="Frappé de Arándano" class="frappe-image" >
                </div>
            </div>
            <!-- Frappé de arandano -->
             <div class="col-12">
                <div class="frappe-item frappe-4">
                    <div class="content-wrapper">
                        <h2 class="frappe-title">FRAPPÉ DE ARÁNDANO</h2>
                        <p class="frappe-description">
                            Hielo, leche, leche condensada, pulpa de arándano, azúcar y chantillí.
                        </p>

                        <div class="price-cart">
                            <div class="frappe-price">S/. 10</div>
                            <button class="cart-button">
                                <i class="bi bi-cart-fill"></i>
                            </button>
                        </div>
                    </div>

                    <img src="frappe-arandano.png" 
                         alt="Frappé de Arándano" class="frappe-image">
                </div>
            </div>

            <!-- Frappé de caramelo-->
             <div class="col-12">
                <div class="frappe-item frappe-5">
                    <div class="content-wrapper">
                        <h2 class="frappe-title">FRAPPÉ DE ARÁNDANO</h2>
                        <p class="frappe-description">
                             Hielo, leche, jarabe de caramelo, azúcar y chantillí.
                        </p>

                        <div class="price-cart">
                            <div class="frappe-price">S/. 8</div>
                            <button class="cart-button">
                                <i class="bi bi-cart-fill"></i>
                            </button>
                        </div>
                    </div>

                    <img src="frappe-caramelo.png" 
                         alt="Frappé de Arándano" class="frappe-image">
                </div>
            </div>

            <!-- Frappe de moca -->
             <div class="col-12">
                <div class="frappe-item frappe-6">
                    <div class="content-wrapper">
                        <h2 class="frappe-title">FRAPPÉ DE MOCA</h2>
                        <p class="frappe-description">
                             Café instantáneo, leche, hielo, sirope de chocolate, azúcar y chantillí.
                        </p>

                        <div class="price-cart">
                            <div class="frappe-price">S/. 8</div>
                            <button class="cart-button">
                                <i class="bi bi-cart-fill"></i>
                            </button>
                        </div>
                    </div>

                    <img src="frappe-moca.png" 
                         alt="Frappé de Arándano" class="frappe-image">
                </div>
            </div>

            <!-- Frappé de maracuya -->
             <div class="col-12">
                <div class="frappe-item frappe-7">
                    <div class="content-wrapper">
                        <h2 class="frappe-title">FRAPPÉ DE MARACUYÁ</h2>
                        <p class="frappe-description">
                            Hielo, leche, leche condensada, pulpa de maracuyá, azúcar y chantillí.
                        </p>

                        <div class="price-cart">
                            <div class="frappe-price">S/. 9</div>
                            <button class="cart-button">
                                <i class="bi bi-cart-fill"></i>
                            </button>
                        </div>
                    </div>

                    <img src="frappe-maracuya.png" 
                         alt="Frappé de Arándano" class="frappe-image">
                </div>
            </div>

            <!-- Frappé de durazno -->
             <div class="col-12">
                <div class="frappe-item frappe-8">
                    <div class="content-wrapper">
                        <h2 class="frappe-title">FRAPPÉ DE DURAZNO</h2>
                        <p class="frappe-description">
                            Hielo, leche, leche condensada,  pulpa de durazno, azúcar y chantillí.
                        </p>

                        <div class="price-cart">
                            <div class="frappe-price">S/. 10</div>
                            <button class="cart-button">
                                <i class="bi bi-cart-fill"></i>
                            </button>
                        </div>
                    </div>

                    <img src="frappe-mango.png" 
                         alt="Frappé de mango" class="frappe-image">
                </div>
            </div>

            <!-- Frappé de oreo -->
             <div class="col-12">
                <div class="frappe-item frappe-9">
                    <div class="content-wrapper">
                        <h2 class="frappe-title">FRAPPÉ DE OREO</h2>
                        <p class="frappe-description">
                            Hielo, leche, galletas Oreo, esencia de vainilla, chocolate,azúcar y chantillí.
                        </p>

                        <div class="price-cart">
                            <div class="frappe-price">S/. 9</div>
                            <button class="cart-button">
                                <i class="bi bi-cart-fill"></i>
                            </button>
                        </div>
                    </div>

                    <img src="frappe-oreo.png" 
                         alt="Frappé de Arándano" class="frappe-image">
                </div>
            </div>

            <!-- Frappé de manog-->
             <div class="col-12">
                <div class="frappe-item frappe-10">
                    <div class="content-wrapper">
                        <h2 class="frappe-title">FRAPPÉ DE MANGO</h2>
                        <p class="frappe-description">
                            Hielo, leche, leche condensada, pulpa de mango, azúcar y chantillí.
                        </p>

                        <div class="price-cart">
                            <div class="frappe-price">S/. 9</div>
                            <button class="cart-button">
                                <i class="bi bi-cart-fill"></i>
                            </button>
                        </div>
                    </div>

                    <img src="frappe-mango.png" 
                         alt="Frappé de Arándano" class="frappe-image">
                </div>
            </div>
            <!-- Frappé de taro-->
             <div class="col-12">
                <div class="frappe-item frappe-11">
                    <div class="content-wrapper">
                        <h2 class="frappe-title">FRAPPÉ DE TARO</h2>
                        <p class="frappe-description">
                            Hielo, leche, polvo de taro, azúcar y chantillí
                        </p>

                        <div class="price-cart">
                            <div class="frappe-price">S/. 10</div>
                            <button class="cart-button">
                                <i class="bi bi-cart-fill"></i>
                            </button>
                        </div>
                    </div>

                    <img src="frappe-taro.png" 
                         alt="Frappé de Arándano" class="frappe-image">
                </div>
            </div>

            <!-- Frappé de matcha-->
             <div class="col-12">
                <div class="frappe-item frappe-12">
                    <div class="content-wrapper">
                        <h2 class="frappe-title">FRAPPÉ DE MATCHA</h2>
                        <p class="frappe-description">
                           Hielo, leche, polvo de té verde matcha, azúcar y chantillí.
                        </p>

                        <div class="price-cart">
                            <div class="frappe-price">S/. 10</div>
                            <button class="cart-button">
                                <i class="bi bi-cart-fill"></i>
                            </button>
                        </div>
                    </div>

                    <img src="frappe-matcha.png" 
                         alt="Frappé de Arándano" class="frappe-image">
                </div>
            </div>

        </div>
    </div>
</div>
