@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

body {
  background: linear-gradient(135deg, #ffe5ec, #fff);
}


.carrito-card {
  max-width: 850px;
  margin: auto;
  background: #fff;
  border-radius: 22px;
  padding: 1.8rem;
  box-shadow: 0 25px 55px rgba(255, 143, 163, 0.3);
}

.carrito-header h2 {
  font-weight: 800;
  color: #4da9ff;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.subtitle {
  font-size: 0.9rem;
  color: #888;
}

.item-carrito {
  background: #fff7fb;
  border-radius: 18px;
  padding: 0.9rem 1.2rem;
  margin-bottom: 0.9rem;
  display: flex;
  gap: 15px;
  align-items: center;
  box-shadow: 0 8px 18px rgba(0,0,0,0.08);
}

.item-img-box img {
  width: 60px;
  filter: drop-shadow(0 5px 6px rgba(0,0,0,0.15));
}


.item-info h6 {
  margin: 0;
  font-weight: 700;
  color: #5a2a41;
}

.precio {
  font-size: 0.85rem;
  color: #6a78fa;
  font-weight: 600;
}

.extras {
  font-size: 0.7rem;
  margin-top: 4px;
}

.extras span {
  background: #ffe0ea;
  padding: 2px 7px;
  border-radius: 10px;
  margin-left: 4px;
}

.item-actions {
  min-width: 90px;
}

.cantidad-control {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.cantidad-control button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  background: #9d6afa;
  color: #fff;
  font-weight: bold;
}

.cantidad-control span {
  font-weight: 700;
}


.btn-remove {
  background: #ffe0ea;
  color: #4d94ff;
  border-radius: 12px;
  padding: 4px 8px;
}


.resumen {
  margin-top: 1.5rem;
  padding-top: 1.2rem;
  border-top: 2px dashed #ffd6e0;
}

.resumen-total {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 1rem;
}


.btn-comprar-grande {
  width: 100%;
  padding: 1rem;
  border-radius: 20px;
  background: linear-gradient(135deg, #8e97e2, #7c6dcf);
  color: #fff;
  font-size: 1.1rem;
  font-weight: 800;
  box-shadow: 0 14px 28px rgba(255,77,109,0.5);
}

.resumen-fijo {
  background: #ffffff;
  border-radius: 22px;
  padding: 2rem;
  box-shadow: 0 25px 60px rgba(255, 77, 109, 0.25);
  position: sticky;
  top: 30px;
  min-height: 260px; 
}
.resumen-fijo h6 {
  font-size: 1.1rem;
  font-weight: 800;
  color: #5a2a41;
  margin-bottom: 1.5rem;
}
.resumen-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;   
  font-weight: 900;
  color: #4d9aff;
  margin-bottom: 1.8rem;
}
