<div class="coffee-background">
  <div class="container my-5">
    <div class="row justify-content-center gy-5">

      <div class="col-12 col-md-5 px-3" *ngFor="let p of listProducto">

        <div class="card-coffee p-3 text-white text-center position-relative h-100">
          
          <!-- IMAGEN -->
          <img
            [src]="getImagen(p.nombre)"
            class="coffee-img position-absolute top-0 start-50 translate-middle"
          />

          <!-- PRECIO -->
          <span class="price-tag fs-5 fw-bold p-1 position-absolute">
            S/. {{ p.precio_base }}
          </span>

          <!-- DETALLES -->
          <div class="coffee-details mt-5 pt-3">
            <h3 class="fw-bolder text-uppercase mb-1">
              {{ p.descripcion }}
            </h3>

          </div>

          <!-- BOTÓN -->
          <button
            class="btn btn-dark cart-button position-absolute bottom-0 end-0 m-3 rounded-circle"
            (click)="agregarAlCarrito(p)"
          >
            <i class="bi bi-cart-fill fs-4"></i>
          </button>

        </div>
      </div>

    </div>
  </div>
</div>
