<div class="products-grid">

  <div class="product-card" *ngFor="let p of listProducto">

    <img [src]="getImagenProducto(p.idProducto)" class="product-image" />

    <div class="product-content">
      <h3>{{ p.nombre }}</h3>
      <p>{{ p.descripcion }}</p>
      <span>S/. {{ p.precioBase }}</span>

      <div *ngIf="p.categoria?.nombre === 'WAFFLE'" class="extras-box">
        <hr>

        <h4>Salsas</h4>
        <div *ngFor="let s of listSalsas">
          <label>
            <input
              type="checkbox"
              [checked]="selectedSalsas[p.idProducto]?.includes(s.idAcompanamiento)"
              [disabled]="
                !selectedSalsas[p.idProducto]?.includes(s.idAcompanamiento) &&
                (selectedSalsas[p.idProducto]?.length || 0) >= getLimites(p).salsas
              "
              (change)="toggleSalsa(p.idProducto, s.idAcompanamiento, getLimites(p).salsas)"
            />
            {{ s.nombre }}
          </label>
        </div>

        <h4>Toppings</h4>
        <div *ngFor="let t of listTopping">
          <label>
            <input
              type="checkbox"
              [checked]="selectedToppings[p.idProducto]?.includes(t.idAcompanamiento)"
              [disabled]="
                !selectedToppings[p.idProducto]?.includes(t.idAcompanamiento) &&
                (selectedToppings[p.idProducto]?.length || 0) >= getLimites(p).toppings
              "
              (change)="toggleTopping(p.idProducto, t.idAcompanamiento, getLimites(p).toppings)"
            />
            {{ t.nombre }}
          </label>
        </div>
      </div>

      <button
        (click)="agregar(p)"
        [disabled]="
          p.categoria?.nombre === 'WAFFLE' &&
          (
            (selectedSalsas[p.idProducto]?.length || 0) < getLimites(p).salsas ||
            (selectedToppings[p.idProducto]?.length || 0) < getLimites(p).toppings
          )
        "
      >
        🛒 Agregar al carrito
      </button>

    </div>
  </div>
  <button [routerLink]="['/carrito']"> ir a carrito</button>
</div>
