<h2>🛒 Mi carrito</h2>

<div *ngIf="items.length === 0">
  <p>Tu carrito está vacío</p>
</div>

<div class="cart-item" *ngFor="let item of items; let i = index">

  <img [src]="item.imagen" width="80">

  <div>
    <h4>{{ item.nombre }}</h4>
    <div class="cantidad">
      <button (click)="disminuir(i)">−</button>
      <span>{{ item.cantidad }}</span>
      <button (click)="aumentar(i)">+</button>
    </div>
    <p>Precio: S/. {{ item.precioBase }}</p>

    <p *ngIf="item.salsas.length">
      <strong>Salsas:</strong>
      <span *ngFor="let s of item.salsas"> {{ s }} </span>
    </p>

    <p *ngIf="item.toppings.length">
      <strong>Toppings:</strong>
      <span *ngFor="let t of item.toppings"> {{ t }} </span>
    </p>

    <button (click)="eliminar(i)">Eliminar</button>
  </div>
</div>

<hr>

<h3>Total: S/. {{ total() }}</h3>

<button [routerLink]="['/pedido']">comprar</button>