<div class="container-fluid p-0">
        <div class="menu-container">
            
            <!-- Primera sección de Waffles -->
            <div class="waffle-grid">
                 <div class="col-12 col-md-5 px-3" *ngFor="let p of listProducto">
                    <!-- Waffle 1 -->
                    <div class="waffle-card">
                        <img [src]="getImagen(p.nombre)" alt="Waffle" class="waffle-image">
                        <div class="waffle-info">
                            <div class="waffle-header">
                                <span class="waffle-name">{{p.nombre}}</span>
                                <span class="waffle-price">S/. {{p.precio_base}}</span>
                            </div>
                            <p class="waffle-description">{{p.descripcion}}</p>
                            <button class="cart-btn" (click)="agregarAlCarrito(p)">
                                <i class="fas fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>