<div class="container-fluid p-0">
    <div class="menu-container">
        <div class="row g-0">

            <!-- Frappuchino -->
            <div class="col-12">
                <div class="col-12 col-md-5 px-3" *ngFor="let p of listProducto">
                    <div class="frappe-item frappe-1">

                        <div class="content-wrapper">
                            <h2 class="frappe-title">{{p.nombre}}</h2>
                            <p class="frappe-description">
                                {{p.descripcion}}
                            </p>

                            <div class="price-cart">
                                <div class="frappe-price">S/. {{p.precio_base}}</div>
                                <button class="cart-button" (click)="agregarAlCarrito(p)">
                                    <i class="bi bi-cart-fill"></i>
                                </button>
                            </div>
                        </div>

                        <img [src]="getImagen(p.nombre)"
                            alt="Frappuchino" class="frappe-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
