
.fondo-app-completo {
    background-image: url('../src/assets/imagenes/foto-inicio-proyecto.jpg');
    
   
    background-size: cover;
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-position: center center;
   
    min-height: 100vh;
    margin: 0;
    padding: 0; 
    position: relative;
}

.fondo-app-completo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
   
    z-index: -1; /* Colócalo detrás de todo el contenido */
}