<form class="pedido-container" [formGroup]="formPedido" >

  <h1 class="titulo">Finalizar Pedido</h1>

  <!-- 👤 CLIENTE -->
  <div class="card">
    <h3>Datos del cliente</h3>
    <input type="text" formControlName="nombreCliente" placeholder="Nombre del cliente">
  </div>

  <!-- 🧾 RESUMEN -->
  <div class="card">
    <h3>Resumen del pedido</h3>

    <div class="item" *ngFor="let item of carrito">
      <strong>{{ item.nombre }}</strong>
      <div *ngIf="item.salsas?.length">Salsas: {{ item.salsas.length }}</div>
      <div *ngIf="item.toppings?.length">Toppings: {{ item.toppings.length }}</div>
      <span>S/. {{ item.precioBase }}</span>
    </div>

    <hr>
    <h2>Total: S/. {{ total }}</h2>
  </div>

  <!-- 🍽️ TIPO -->
  <div class="card">
    <h3>Tipo de pedido</h3>

    <label>
      <input type="radio" value="LLEVAR" formControlName="tipoPedido"> Para llevar
    </label>

    <label>
      <input type="radio" value="MESA" formControlName="tipoPedido"> Para mesa
    </label>

    <div *ngIf="formPedido.value.tipoPedido === 'MESA'" class="mesas">
      <h4>Selecciona mesa</h4>

      <button
        type="button"
        *ngFor="let m of mesas"
        [disabled]="m.ocupada"
        [class.seleccionada]="formPedido.value.mesa === m.numero"
        (click)="formPedido.patchValue({ mesa: m.numero })">
        Mesa {{ m.numero }}
      </button>
    </div>
  </div>

  <!-- 💳 PAGO -->
  <div class="card">
    <h3>Método de pago</h3>

    <label>
      <input type="radio" value="EFECTIVO" formControlName="metodoPago"> Efectivo
    </label>

    <label>
      <input type="radio" value="YAPE" formControlName="metodoPago"> Yape
    </label>
    <div *ngIf="formPedido.value.metodoPago === 'YAPE'" class="mesas">
      <h2>pasos</h2>
      <p>1- ingresar al aplicativo yape</p>
      <p>2- ingrese este numero 984045034</p>
      <p>3- debera aparecer el nombre de jennifer</p>
    </div>
    <div *ngIf="formPedido.value.metodoPago === 'EFECTIVO'" class="mesas">
      <h2>pasos</h2>
      <p>1- asercarse a la caja</p>
    </div>
  </div>

  <button class="btn-comprar" type="button" (click)="confirmarPedido()">
    🛒 COMPRAR
  </button>

</form>
