<div class="container mt-5 ">
    <div class="row justify-content-center">
        <img src="logo.png" class="logo">
        <div class="col-12 col-md-8"> 
            
            <div class="row g-1 text-center mb-5">
                
                <div class="col-4"><a class="btn btn-marron-cafe w-100" [routerLink]="['coffes']">COFFE</a></div>
                <div class="col-4"><button class="btn btn-marron-cafe w-100"[routerLink]="['frappe']">FRAPPES</button></div>
                <div class="col-4"><button class="btn btn-marron-cafe w-100"[routerLink]="['wafles']">WAFLES</button></div>

                <div class="col-4"><button class="btn btn-marron-cafe w-100"[routerLink]="['sandwich']">SANDWICH</button></div>
                <div class="col-4"><button class="btn btn-marron-cafe w-100"[routerLink]="['jugos']">JUGOS</button></div>
                <div class="col-4"><button class="btn btn-marron-cafe w-100"[routerLink]="['ensalada']">ENSALADA DE FRUTA</button></div>
                
                <div class="col-12 mt-4 combo"> 
                    <p class="fw-bold fs-5 text-center text-aqua combo">---------------------------COMBOS ESPECIALES---------------------------</p> 
                </div>
            </div> 
            
            
            <div class="row g-3">
                
                <div class="col-12 col-sm-6">
                    <div class="card-combo p-3 text-white text-center position-relative h-100">
                        <span class="price-tag fs-5 fw-bold p-1 position-absolute">S/5</span>
                        <div class="combo-content">
                            <h3 class="fw-bolder text-uppercase mb-0">MINI WAFLE</h3>
                            <p class="fw-bolder mb-0 fs-3">+</p>
                            <h3 class="fw-bolder text-uppercase">CAFÉ</h3>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6">
                    <div class="card-combo p-3 text-white text-center position-relative h-100">
                        <span class="price-tag fs-5 fw-bold p-1 position-absolute">S/7</span>
                        <div class="combo-content">
                            <h3 class="fw-bolder text-uppercase mb-0">Mini waffle</h3>
                            <p class="fw-bolder mb-0 fs-3">+</p>
                            <h3 class="fw-bolder text-uppercase">Ensalada FrutiMix</h3>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6">
                    <div class="card-combo p-3 text-white text-center position-relative h-100">
                        <span class="price-tag fs-5 fw-bold p-1 position-absolute">S/11</span>
                        <div class="combo-content">
                            <h3 class="fw-bolder text-uppercase mb-0">Mini Waffle</h3>
                            <p class="fw-bolder mb-0 fs-3">+</p>
                            <h3 class="fw-bolder text-uppercase">Frappé clásico</h3>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6">
                    <div class="card-combo p-3 text-white text-center position-relative h-100">
                        <span class="price-tag fs-5 fw-bold p-1 position-absolute">S/7</span>
                        <div class="combo-content">
                            <h3 class="fw-bolder text-uppercase mb-0">Mini Waffle</h3>
                            <p class="fw-bolder mb-0 fs-3">+</p>
                            <h3 class="fw-bolder text-uppercase">Americano</h3>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-6">
                    <div class="card-combo p-3 text-white text-center position-relative h-100">
                        <span class="price-tag fs-5 fw-bold p-1 position-absolute">S/4.5</span>
                        <div class="combo-content">
                            <h3 class="fw-bolder text-uppercase mb-0">Sandwich clásico</h3>
                            <p class="fw-bolder mb-0 fs-3">+</p>
                            <h3 class="fw-bolder text-uppercase">café</h3>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6">
                    <div class="card-combo p-3 text-white text-center position-relative h-100">
                        <span class="price-tag fs-5 fw-bold p-1 position-absolute">S/11</span>
                        <div class="combo-content">
                            <h3 class="fw-bolder text-uppercase mb-0">Sandwich clasico</h3>
                            <p class="fw-bolder mb-0 fs-3">+</p>
                            <h3 class="fw-bolder text-uppercase">Americano</h3>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-6">
                    <div class="card-combo p-3 text-white text-center position-relative h-100">
                        <span class="price-tag fs-5 fw-bold p-1 position-absolute">S/11</span>
                        <div class="combo-content">
                            <h3 class="fw-bolder text-uppercase mb-0">SANDWICH CLASICO</h3>
                            <p class="fw-bolder mb-0 fs-3">+</p>
                            <h3 class="fw-bolder text-uppercase">Infusion</h3>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6">
                    <div class="card-combo p-3 text-white text-center position-relative h-100">
                        <span class="price-tag fs-5 fw-bold p-1 position-absolute">S/11</span>
                        <div class="combo-content">
                            <h3 class="fw-bolder text-uppercase mb-0">Latte Machiato</h3>
                            <p class="fw-bolder mb-0 fs-3">+</p>
                            <h3 class="fw-bolder text-uppercase">Mini Waffle</h3>
                        </div>
                    </div>
                </div>
            </div>

    <p>hello git</p>
            
        </div>
    </div>
</div>